.container-inheritance {
  background-color: white;
  height: 82vh;
  width: 100%;
  box-shadow: 0 6px 4px rgba(126, 126, 126, 0.3);
  border-radius: 1vw;
  padding: 4vh 3vh 3vh 3vh;
  position: relative;
  overflow: hidden;
  margin-right: 2.5vw;
  margin-left: 2.5vw;
}

.container-inheritance-mobile {
  background-color: white;
  height: 90vh;
  width: 100%;
  box-shadow: 0 6px 4px rgba(126, 126, 126, 0.3);
  border-radius: 1vw;
  padding: 4vh 3vh 3vh 3vh;
  position: relative;
  overflow: hidden;
  margin-right: 6vw;
  margin-left: 6vw;
}

.form-inheritance {
  height: 71vh;
  overflow-y: scroll;
  padding-bottom: 1vh;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.scrollbar-auto-hide::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-auto-hide::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.scrollbar-auto-hide::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.scrollbar-auto-hide {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.scrollbar-auto-hide:hover {
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}