.logo-img {
  margin-top: 4vh;
}
.logo-img-mobile {
  margin-top: 4vh;
}

.menu-sidebar{
  padding: 10px;
  background: #F8F7FE;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container-sidebar {
  box-shadow: 0 6px 10px rgba(126, 126, 126, 0.3);
  z-index: 9999;
}

.container-sidebar-mobile {
  box-shadow: 0 6px 10px rgba(126, 126, 126, 0.3);
  z-index: 9999;
  border-radius: 0px 10px 10px 0px;
}

.img-switch {
  box-shadow: 0 6px 10px rgba(126, 126, 126, 0.3);
  pointer-events: auto;
  cursor: pointer;
  background-color: #4C3CE3;
}

.fade-enter {
  opacity: 0;
  transform: scale(0.8);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}