@import 'tailwindcss';
pre {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  overflow-x: auto;
  font-family: "Consolas", "Courier New", monospace;
  font-size: 14px;
  line-height: 1.5;
}
